.main{
 display: flex;
}
.LeftPart{
    width: 20%;
   
    padding: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: larger;
    background-color: rgb(160, 157, 157);
    padding-top: 50px;
    color: white;
    font-weight: bold;

}


.RightPart{
    width: 100%;
    background-color: #DAFAF8;
  border: 1px solid rgb(15, 15, 232);
}