main{
    border: 1px solid;
    width: max-content;
    padding: 10px;
    margin: auto;
}
main h1{
    font-size: 25px;
}
main button{
    background-color: purple;
    padding: 10px;
    width: 90%;
    margin: auto;
    color: white;
    font-size: large;
    font-weight: 500;
    border-radius: 5px;
}