main{
    border: 1px solid;
    width:fit-content;
    padding: 10px 50px 10px 50px;
    margin: auto;
    overflow: hidden;
}
main h1{
    font-size: 25px;
    margin-bottom: 5px;
}
main button{
    background-color: black;
    padding: 10px;
    width: 40%;
    margin: auto;
    color: white;
    font-size: large;
    font-weight: 500;
    border-radius: 5px;
}
section{
    margin: auto;
}
label{
    text-align: left;
}
#spinner{
    display: none;
}